.navbar {
  /* background-color: var(--qtify-primary-green); */
  width: 100vw;
  min-height: 60pxbac;
  background-color: green;
}

.navbarContent {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 36px;
  gap: 24px;
  width: 100%;
}
